.logo{
	width: 115px;
}
.refreshBtn{
    position: fixed;
    right: 10px;
    top: 10px;
}
.os-image-thumb{
    width:100px;
    max-width: 80%;
}
.ui-pnotify-container{
    background:#5cb85c ;
    color: white;
}